[2011-08-06 21:53] reprogrammer commented on #242
@Wanderer777, @vazexqi: Participant cs-508 has encountered the same exception:

<pre>
java.lang.NoClassDefFoundError: org/eclipse/ltk/core/refactoring/codingspectator/RunningModes
    at edu.illinois.codingspectator.monitor.ui.AuthenticationPrompter.getRepositoryURL(AuthenticationPrompter.java:118)
    at edu.illinois.codingspectator.monitor.ui.submission.Submitter.authenticateAndInitialize(Submit

[2011-08-06 23:59] Wanderer777 commented on #257
@reprogrammer: Please review my last two commits. In particular, changes to class `org.eclipse.epp.usagedata.internal.recording.uploading.UploadManager`, where I merged the former `preLock` and `preSubmit` methods.

[2011-08-07 21:42] Wanderer777 opened #295 "Conflict editors opened via Compare With menu require postprocessing"
CodingTracker records operations that belong to conflict editors, for which it can not detect the edited Java file. An example of such conflict editors are those opened via Compare With menu. To correctly replay such operations, the collected data require postprocessing, which should detect the edited file from the related operations (e.g. externally modified file operation preceding saved conflic

[2011-08-07 21:44] Wanderer777 commented on #286
CodingTracker now records code changes in conflict editors opened via Compare With menu, but to replay such sequences, a postprcessing step is required. For more details see issue #295.

[2011-08-07 21:44] #286 closed, assigned to Wanderer777

[2011-08-08 00:05] reprogrammer opened #296 "Check the committer when analyzing participant's data submissions"
The script [summarize-user-activities.rb](https://github.com/vazexqi/CodingSpectator/blob/master/scripts/summarize-user-activities.rb) should only consider the commits of the participant as data submissions. Rarely, do we commit changes to the directories of participants on the SVN repository. The script should not consider such commits as data submissions of the participant.

Thanks to @Wanderer7

[2011-08-08 07:34] reprogrammer opened #297 "What is FinishedRefactoringOperation.success?"
@Wanderer777: What does the value of `FinishedRefactoringOperation.success` indicate. What refactorings does CodingTracker consider to have failed. Can you give some examples of how a refactoring could fail?

[2011-08-08 09:59] reprogrammer commented on #293
@Wanderer777: 32d3555e96710ba69407ecbea1c2f3a804b18515 added a few accessors to some of the event classes of CodingTracker. Please review this commit and let me know if this change looks good to you.

[2011-08-08 10:27] reprogrammer opened #298 "Some of the refactorings are missing from the final spreadsheet reports"
Some of the refactorings captured by CodingSpectator are missing from the final spreadsheets. For example, the final spreadsheets do not report any performed refactorings for two participants cs-505 and cs-506 even though CodingSpectator has captured several performed refactorings for these two participants.

[2011-08-08 21:42] reprogrammer opened #299 "Submissions may fail due to missing files"
We've received reports from our participants about failures to submit their data because of some missing files that had been added to the working copy.

Participant cs-118 reported the following.

<pre>
Failed to upload CodingSpectator data.
org.tmatesoft.svn.core.SVNException: svn: Commit failed (details follow):
svn: '/path/to/workspace/.metadata/.plugins/edu.illinois.codingspectator.data/1.0.0.

[2011-08-08 21:43] reprogrammer commented on #299
@Wanderer777 said the following:

[2011-08-08 21:45] reprogrammer commented on #299
@Wanderer777: Even though our forthcoming change in data submission may address this issue, we should still investigate this problem and find the root cause of it.

[2011-08-08 22:36] vazexqi commented on #298
It appears that these two participants might use a different locale from us. Apparently this might affect which day is the start of the week. So when Eclipse tries to convert the timestamps to a matching date (using our locale) to look up the corresponding refactoring descriptors and retrieve the data using `RefactoringHistoryManager`

[code]

However, it seems that  a solution exists. `Refactorin

[2011-08-09 02:34] Wanderer777 commented on #299
@reprogrammer: I have no particular reason to believe that this problem is caused by `SafeRecorder` switching from the main file to a temporary file (please see `SafeRecorder#aboutToSubmit()`) since it does not touch the main file. But it is an IO operation, so hypothetically, it might trigger a failure of a faulty file system. Additionally, CodingTracker might write to the main file before execut

[2011-08-09 02:41] Wanderer777 commented on #293
@reprogrammer: Your changes look good to me. If you like, you might consider using `isSuccess` instead of `getSuccess` name for the getter of a boolean flag.

[2011-08-09 03:00] Wanderer777 commented on #297
@reprogrammer: `FinishedRefactoringOperation.success` indicates whether a refactoring failed or not. CodingTracker considers that failed refactorings are those, whose event type is `OperationHistoryEvent.OPERATION_NOT_OK` (please see details in `OperationHistoryListener#historyNotification(OperationHistoryEvent)`) - exactly the same condition is used by CodingSpectator when it detects whether a re

[2011-08-09 04:36] reprogrammer commented on #293
@Wanderer777: How about renaming the boolean flag from `success` to `successful` and the getter from `getSuccess` to `isSuccessful`?

[2011-08-09 05:08] reprogrammer commented on #299
@Wanderer777: I couldn't find `SafeRecorder#aboutToSubmit()`. Did you mean [`SafeRecorder#commitStarted`](https://github.com/vazexqi/CodingSpectator/blob/master/plug-ins/edu.illinois.codingspectator.saferecorder/src/edu/illinois/codingspectator/saferecorder/SafeRecorder.java#L38)?

What happens if `SafeRecorder#commitCompleted` gets invoked without a preceding `SafeRecorder#commitStarted`. Could `

[2011-08-09 05:21] reprogrammer opened #300 "Simplify the API of CodingTracker for refactoring events"
CodingTracker deserializes the refacoring events in the old format of the CodingTracker logs into the subclasses of `RefactoringOperation`, and deserializes the refactoring events of the new format of CodingTracker logs into `NewStartedRefactoringOperation`/`FinishedRefactoringOperation`.

It would be nice to provide a single interface for refactoring events to the clients of CodingTracker. A sing

[2011-08-09 05:32] reprogrammer opened #301 "Correct the timestamp of NewStartedRefactoringOperation when it is -1"
CodingTraker used to record the timestamps of refactorings incorrectly during a short period of time (See issue #237). As a consequence of this bug, the timestamp of `NewStartedRefactoringOperation` may be -1. Therefore, every client of CodingTracker that relies on the timestamp of `NewStartedRefactoringOperation` has to handle the incorrect timestamps. It would be nice if we could fix the problem

[2011-08-09 14:06] Wanderer777 commented on #301
@reprogrammer: I think that for this kind of problem an automated postprocessing fixer should be easy to implement.

[2011-08-09 14:49] Wanderer777 commented on #293
@reprogrammer: The same naming scheme is used in many other CodingTracker operations and it was actually borrowed from Eclipse classes, so I would prefer to keep `success`. But you can name the getter `isSuccessful` if you like.

[2011-08-09 15:33] Wanderer777 commented on #299
@reprogrammer: Sorry, `SafeRecorder#aboutToSubmit()` is in `codingtracker` branch, which was not merged into the `master` yet. Previously, this method was named `SafeRecorder#commitStarted` and had a different functionality.

You are right, if `SafeRecorder#commitCompleted` is invoked without a preceding `SafeRecorder#commitStarted`, that would have a disastrous effect of deleting the main record

[2011-08-09 17:35] reprogrammer commented on #299
@Wanderer777: As far as I remember, `SubmitterListener.postSubmit(boolean)` could have always been called without a preceding `SubmitterListener.preSubmit()` (See [the class comment of `SubmitterListener`](https://github.com/vazexqi/CodingSpectator/blob/master/plug-ins/edu.illinois.codingspectator.monitor.core/src/edu/illinois/codingspectator/monitor/core/submission/SubmitterListener.java#L8)). We

[2011-08-09 17:43] reprogrammer commented on #299
@Wanderer777: Why do you think that in the above scenario the main record would be deleted only after the uploading is over?

In CodingSpectator v1.0.0.201105300951, if an exception occurs in [`notifyPreSubmit`](https://github.com/vazexqi/CodingSpectator/blob/v1.0.0.201105300951/edu.illinois.codingspectator.monitor.ui/src/edu/illinois/codingspectator/monitor/ui/submission/Submitter.java#L97). That

[2011-08-09 18:01] reprogrammer commented on #298
@vazexqi: Your commit patches Indigo. Could you also patch Helios for this issue?

[2011-08-09 18:01] reprogrammer commented on #298
@vazexqi: Will the following work for testing your fix?

Get the refactoring history folder of an Eclipse workspace and rename the "week" folder. Then, check that CodingSpectator can still parse the history folder.

[2011-08-09 18:04] reprogrammer commented on #298
@vazexqi, @Wanderer777: I had left the above two comments on the wrong issue. I've moved them to this issue (#298) now. Sorry for the confusion.

[2011-08-09 21:57] Wanderer777 commented on #299
@reprogrammer: If you take a look on the way we fixed issue #139 (please see the comment https://github.com/vazexqi/CodingSpectator/issues/139#issuecomment-750477 and the corresponding commit), you will notice that at that point (and in the preceding version as well) it was not possible to fail to deliver `preSubmit` and then deliver `postSubmit`, because any problem with delivering `preSubmit` wo

[2011-08-09 22:23] Wanderer777 commented on #299
@reprogrammer: By "uploading is over" I meant that the execution of `Submitter#submit` is over rather than that a particular file was actually uploaded. The exception that happened for the participant says that a file was scheduled for addition but was missing, which means that the file existed when `svnManager#doAdd()` was called, but disappeared before `svnManager#doCommit()` performed its commi

[2011-08-09 23:51] reprogrammer commented on #299
@Wanderer777: I agree with the following statement of [your comment](https://github.com/vazexqi/CodingSpectator/issues/299#issuecomment-1768062). Because `notifyPostSubmit` is inside a `finally` block, it is always the last step of the uploading process.

However, I'd like to discuss the following statement of the same comment with you:

Let's say the `postSubmit` of CodingTracker deletes `codecha

[2011-08-09 23:55] reprogrammer commented on #299
@Wanderer777: I extracted the following exception trace from the error log at `cs-118/ff70331f-61ba-4985-867d-8d855147324b/1.0.0.201105300951/error.log`:

<pre>
!SESSION 2011-06-15 17:33:50.642 -----------------------------------------------
eclipse.buildId=M20110210-1200
java.version=1.6.0_20
java.vendor=Sun Microsystems Inc.
BootLoader constants: OS=linux, ARCH=x86, WS=gtk, NL=en_US
Command-line

[2011-08-10 00:35] reprogrammer commented on #299
@Wanderer777: You and I changed the contract of `SubmitterListener` together when we extracted the `saferecorder` plug-in in 6f2b13f3125a79d990f432c6cdd76b1cfb1864ac.

[2011-08-10 02:50] Wanderer777 commented on #299
@reprogrammer: I am not sure about CodingSpectator v1.0.0.201105300951, but I performed this test in CodingSpectator v1.0.0.201107061725 (not sure if this was the official release or not though): I deleted a previously uploaded `codechanges.txt` and performed an upload. I did not get any errors, instead file `codechanges.txt` reappeared with the previously uploaded content. Considering that the ve

[2011-08-10 05:07] reprogrammer opened #302 "Report the date of the first submission of participants"
It would be nice to report the duration of the time that our participants have used CodingSpectator. The script `scripts/summarize-user-activities.rb` reports the date of the creation of the account and the last data submission. It would be nice to make the script report the date of the first data submission of each participant as well.

[2011-08-10 13:57] Wanderer777 commented on #302
I think that a more precise measure of the duration would be to get the timestamps of the first and the last operations recorded by CodingTracker.

[2011-08-11 03:22] Wanderer777 commented on #299
@reprogrammer: I installed CodingSpectator v1.0.0.201105300951 and repeated the above scenario (i.e. uploaded a file, then deleted it and started the upload again) and observed the same result: no errors/warnings and the file was restored to the previously uploaded content. So, at the moment, we do not have an explanation neither for cs-118 nor for cs-509.

[2011-08-11 03:41] reprogrammer commented on #299
@Wanderer777: How does the file get restored to the previously uploaded content? What triggers the restoration?

[2011-08-11 03:43] reprogrammer commented on #299
@Wanderer777: Could you search the source code for all places where CodingSpectator or CodingTracker delete a file? I suggest to search for keywords such as "delete" and "remove". Let's see if we can find any other places that may unexpectedly delete a log file.

[2011-08-11 05:23] Wanderer777 commented on #300
@reprogrammer: Although the content and most of the functionality of the subclasses of `RefactoringOperation` and `NewStartedRefactoringOperation` are the same, there is one significant difference: refactorings recorded as subclasses of `RefactoringOperation` have to be replayed because at that point we did not record all lower level changes produced by refactorings (which could be replayed instea

[2011-08-11 07:41] reprogrammer opened #303 "Compare the Eclipse refactoring histories with the UDC data"
It would be interesting to compare the data stored in the refactoring histories of LTK and the data published by UDC.

It turns out that the command ID's in the UDC data don't match the ones in the refactoring histories. Moreover, the UDC data gives the same command ID to multiple refactoring ID's. For example, the UDC data uses a single command ID for different kinds of rename refactoring but it

[2011-08-11 11:46] reprogrammer opened #304 "Inspect the refactoring histories of open source project"
Some open source developers have committed their refactoring histories into their version control system for a while. It would be nice to evaluate this set of data.
# Mylyn
- [org.eclipse.mylyn.tests](http://dev.eclipse.org/viewcvs/viewvc.cgi/org.eclipse.mylyn/org.eclipse.mylyn.tests/.refactorings/?root=Mylyn_Project)
- [org.eclipse.mylyn.help.ui](http://dev.eclipse.org/viewcvs/viewvc.cgi/org.ecli

[2011-08-11 14:58] Wanderer777 commented on #300
@reprogrammer:

The additional information of whether a refactoring should be always replayed (i.e. that this refactoring was an older one) can be serialized/deserialized as part of `refactoringMode` field of `NewStartedRefactoringOperation`.

Also, considering that this transition from `RefactoringOperation` to `NewStartedRefactoringOperation` happened in the same CodingSpectator version as chang

[2011-08-11 15:42] vazexqi commented on #304
I believe that they have stopped storing the refactoring histories. See https://bugs.eclipse.org/bugs/show_bug.cgi?id=287019

[2011-08-11 17:42] reprogrammer commented on #304
@vazexqi: The Mylyn team no longer checks their refactoring histories into the repository. But, we can find the last version of their refactoring histories in their CVS log. For instance, you can find the last refactoring histories of `org.eclipse.mylyn.tests` in its [CVS log](http://dev.eclipse.org/viewcvs/viewvc.cgi/org.eclipse.mylyn/org.eclipse.mylyn.tests/.refactorings/2009/6/26/refactorings.h

[2011-08-12 03:05] reprogrammer opened #305 "Retire edu.illinois.codingspectator.csvtosql"
Most database management systems have support for importing CSV files. For instance, see [SqlTool](http://hsqldb.org/doc/2.0/util-guide/sqltool-chapt.html#sqltool_dsv-sect) for importing CSV files into HSQLDB tables. Therefore, we no longer need the program `edu.illinois.codingspectator.csvtosql` to import CSV files into database tables. So, I suggest to remove the `edu.illinois.codingspectator.cs

[2011-08-12 03:07] reprogrammer commented on #261
@rajkuma1: Note that it's sufficient to convert the "refactoring-problems.log" into the CSV format. Once we generate the CSV file, we can easily import the CSV file into database tables (See issue #305).

[2011-08-13 02:08] Wanderer777 commented on #299
@reprogrammer: According to the workspace data uploaded by the participant cs-509, file `codechages.txt` was never uploaded (i.e. there is no .svn folder for it), but actually it was uploaded since we have it in our repository. This means that the participant reverted his workspace to the state before the first upload of this file. This confirms my assumption that the error that this participant o

[2011-08-13 18:49] Wanderer777 commented on #299
@reprogrammer:
1. I do not know what mechanism causes file restoration. It might be related to the way SVNKit handles SVN operations on a file. Considering that you implemented the code that interacts with SVNKit, you might be more knowledgeable in this matter.
2. Conceptually, `SafeRecorder` is a centralized place to work with log files and no other code can access or manipulate record files dire

[2011-08-13 21:42] reprogrammer commented on #299
@Wanderer777: I expect `SVNKit` to be consistent with the behavior of the SVN command line client. Can you simulate the restoration with the SVN command line client?

[2011-08-14 02:42] Wanderer777 commented on #299
@reprogrammer: I am not sure I understand why we need to explore the ability of `SVNKit` to restore deleted log files as part of this issue. We already found an explanation for the problem of the participant cs-509 (which would also explain the case of the participant cs-118). Also, we found another potential problem with `SafeRecorder`. Both these problems will be resolved in the new version of `

[2011-08-14 04:08] reprogrammer commented on #299
@Wanderer777: Simply, I didn't expect a deleted file to be restored. I don't have an explanation for this phenomenon. I'm not sure if it's a bug or a feature. I don't know the repercussion of this behavior. Is it a safe behavior or could lead to other bugs in some scenarios? I think it's important to investigate how a deleted file gets restored. It's probably not related to this issue. So, as you

[2011-08-14 14:19] Wanderer777 opened #306 "CodingSpectator restores manually deleted files while performing the upload"
If a previously uploaded file is manually deleted from the watched directory (but keeping the corresponding .svn folder) and then CodingSpectator starts a new upload, the file will get restored to its latest uploaded state.

[2011-08-14 14:26] Wanderer777 commented on #299
@reprogrammer: I do not think that this behavior is problematic for us. Manually deleting a file from the watched directory is a severe intrusion into the work of CodignSpectator, which alone would justify its failure. But due to files restoration that we noticed, CodingSpectator would not fail and continue to upload data properly, which is a better than expected outcome for such an intrusion from

[2011-08-14 14:26] #299 closed, assigned to Wanderer777

[2011-08-14 16:06] reprogrammer commented on #306
@Wanderer777: Does the SVN command line client exhibit the same behavior? That is, if one deletes a file from a working copy but not its `.svn` folder, will the file get restored as a result of a commit?

[2011-08-14 16:40] reprogrammer opened #307 "Release by 10/11/2011"
The most important change in this release will be to postpone the writes into the watched folder.

This issue will list the changes in the upcoming release of CodingSpectator. Whenever you complete a feature or fix a bug, please add a comment to this issue briefly describing the change and the corresponding issue number.

[2011-08-14 17:38] reprogrammer commented on #257
@Wanderer777: The two commits bc9f8b6c46e8f7c5f755c130a58f746d893980fc and b584680f16c631d909c0d11e22c0a3c131022ed3 look good to me. Thank you.

[2011-08-14 17:46] reprogrammer commented on #257
@Wanderer777: I performed the following steps to test the new `SafeRecorder`:
1. Created a project and performed a couple of refactorings and restarted Eclipse once.
2. Uploaded the CodingSpectator's data manually.

When I inspected the `.metadata/.plugins` folder, I noticed that the `codechanges.txt` had been moved from `.metadata/.plugins/edu.illinois.codingspectator.saferecorder/1.0.0.qualifier

[2011-08-14 19:25] reprogrammer commented on #257
@Wanderer777:

CodingSpectator checks out the latest version of the participant's folder after the participant successfully authenticates (See [Submitter#authenticateAndInitialize](https://github.com/vazexqi/CodingSpectator/blob/master/plug-ins/edu.illinois.codingspectator.monitor.ui/src/edu/illinois/codingspectator/monitor/ui/submission/Submitter.java#L71)). If a working copy does not exist, this

[2011-08-14 21:26] Wanderer777 commented on #257
@reprogrammer: I also would prefer to use the remote copy. The local copy would contain manual modifications, which essentially breaks our log: if we take it instead of the remote copy and then append to it whatever was accumulated in the storage location, most probably we would get an unreplayable sequence. So, taking the remote copy is safer, though if the user manually modifies a log file in th

[2011-08-14 21:42] reprogrammer commented on #257
@Wanderer777: As I described in my previous [comment](https://github.com/vazexqi/CodingSpectator/issues/257#issuecomment-1802930), there is a possibility of conflict when updating a working copy. Therefore, we have to be prepared to deal with such conflicts.

I changed directory to `.metadata/.plugins/edu.illinois.codingspectator.data` and executed the `svn up` command. As a result, I got a confli

[2011-08-14 21:48] reprogrammer commented on #293
@Wanderer777: Let's keep the boolean flag `success` and rename `getSuccess` to `isSuccess`.

[2011-08-14 22:26] reprogrammer commented on #257
@Wanderer777: I prefer the see all the data in the latest revisions committed to the repository. This frees us from the burden of exploring the history of the SVN repository. So, I'd still prefer to use the "THEIRS_FULL" strategy to resolve the conflicts (See 76b58b7bb44376e22f32c974d4187a201c699016). The combination of the "THEIRS_FULL" strategy and not writing to the watched folder before updati

[2011-08-14 22:54] reprogrammer commented on #257
I tested my SVN resolution mechanism when the authentication information is obtained from either the secure storage or dialog.

[2011-08-15 00:05] Wanderer777 commented on #257
@reprogrammer: I agree with you that seeing all the data in the latest repository revisions is a good motivation to buffer the writes to the watched folder. At the same time, if the CodingTracker's main record file undergoes such scenario, the resulting operation sequence most probably would not be replayable. But if we use "MINE_FULL" strategy, although we would lose some data due to workspace re

[2011-08-15 00:30] Wanderer777 commented on #257
@reprogrammer:

In response to your previous [comment](https://github.com/vazexqi/CodingSpectator/issues/257#issuecomment-1802489):

`SafeRecorder` treats all record files uniformly, which means that it should not have specific problems with some particular record files. Also, I tried it with multiple record files at once (e.g. `codechanges.txt` and `error.log`) and it worked fine for me. Please n

[2011-08-15 05:48] reprogrammer commented on #257
@Wanderer777: As you [said](https://github.com/vazexqi/CodingSpectator/issues/257#issuecomment-1803970), the "MINE_FULL" strategy will keep the CodingTracker sequence replayable. I'm fine with using the "MINE_FULL" strategy. Should we go ahead and revert all of our changes that buffer the writes into the watched folder then?

[2011-08-15 06:19] reprogrammer opened #308 "Submitter does not always notify others when it changes the watched folder"
`Submitter` notifies others when it's about to upload some data. Consequently, the data writers block the `Submitter` until they are done with their writes into the watched folder. This mechanism makes it possible to avoid conflicting accesses to the watched folder by the `Submitter` and data writers. However, the `Submitter` still writes to the watched folder without notifying the data writers. T

[2011-08-15 06:20] reprogrammer commented on #308
@Wanderer777: I think this issue shows an advantage of buffering the writes to the watched folder (issues #257 and #287). In general, buffering the writes to the watched folder seems to make our system more robust. What do you think?

[2011-08-15 06:34] reprogrammer opened #309 "Reverting the watched folder to a version that lacks some committed files is problematic"
CodingSpectator updates the working copy and resolves the conflicts that may arise. However, these step don't seem to be sufficient to avoid the following exception:

<pre>
eclipse.buildId=unknown
java.version=1.6.0_26
java.vendor=Sun Microsystems Inc.
BootLoader constants: OS=linux, ARCH=x86_64, WS=gtk, NL=en_US
Framework arguments:  -product org.eclipse.epp.package.rcp.product
Command-line argum

[2011-08-15 07:15] reprogrammer commented on #309
To understand why the SVN update and resolve operations do not resolve the above conflict, I performed these operations using the SVN command line client manually.

<pre>
$ svn up .metadata/.plugins/edu.illinois.codingspectator.data/
Skipped '.metadata/.plugins/edu.illinois.codingspectator.data/1.0.0.qualifier'
At revision 417.
Summary of conflicts:
  Skipped paths: 1
$ svn st .metadata/.plugins/e

[2011-08-15 07:26] reprogrammer commented on #309
It looks like the only way to resolve a tree conflict such as the above one is to run the following command:

[code]

[2011-08-15 07:33] reprogrammer commented on #309
See http://svnbook.red-bean.com/en/1.6/svn.tour.treeconflicts.html to learn more about tree conflicts in SVN.

[2011-08-15 07:43] reprogrammer commented on #309
I used the "working" strategy to resolve the tree conflict as described in my previous [comment](https://github.com/vazexqi/CodingSpectator/issues/309#issuecomment-1805319). However, I got the following exception when I tried to upload the CodingSpectator's data manually.

<pre>
eclipse.buildId=I20110613-1736
java.version=1.6.0_26
java.vendor=Sun Microsystems Inc.
BootLoader constants: OS=linux, A

[2011-08-15 10:12] reprogrammer commented on #309
I couldn't reproduce [the above problem](https://github.com/vazexqi/CodingSpectator/issues/309#issuecomment-1805357) by executing a sequence of the commands of an SVN command line client.

[2011-08-15 10:54] reprogrammer opened #310 "SVNKit 1.3.7 is available"
CodingSpectator is currently using [SVNKit](http://svnkit.com/) 1.3.4. It would be nice to upgrade it to 1.3.7.

[2011-08-15 14:25] Wanderer777 commented on #257
@reprogrammer:

It looks that buffering the writes into the watched folder makes CodingSpectator more robust (see issue #308), so lets keep it unless we find that it is problematic or absolutely redundant.

It looks that there is a scenario, in which even the "MINE_FULL" strategy would not allow to avoid making CodingTracker sequence unreplayable. Let' say the latest restoration point of Eclipse c

[2011-08-15 14:36] Wanderer777 commented on #308
@reprogrammer: I think that as long as buffering the writes to the watched directory makes CodingSpectator more robust, we can keep it. We still do not have a complete solution to the problem of SVN conflicts, so we might change the way it works now. After we solve this problem, we can think again whether we need to keep buffering the writes into the watched directory.

[2011-08-15 18:11] reprogrammer commented on #257
@Wanderer777: Good [catch](https://github.com/vazexqi/CodingSpectator/issues/257#issuecomment-1807467)! I had missed this scenario. The solution to this problem should apply to all files in the watched folder not just the CodingTracker log.

[2011-08-15 18:21] reprogrammer commented on #257
@Wanderer777, @vazexqi:

The issues (#257 and #309) we have run into make me think if we are doing something fundamentally wrong. I guess it wasn't a good idea to rely on the version history of Subversion from the beginning. How about storing every upload in a new location? What if we store the data that is uploaded at time `t` at `<Subversion Repository>/<username>/<UUID>/<t>`? I think if we comm

[2011-08-15 20:22] reprogrammer commented on #242
Participant cs-105 kindly let us troubleshoot the installation of CodingSpectator. This participant has installed Eclipse in a "root" space. That is, the owner user and group of all of the installation files of Eclipse are "root". But, the user runs Eclipse with the permissions of a regular user. As a result, all third-party plug-ins that the participant installs on Eclipse go to the home folder o

[2011-08-16 01:37] Wanderer777 commented on #257
@reprogrammer: I think that storing each upload in a separate path is a good idea. This would allow us to avoid any SVN problems and get rid of the long running (and thus, error-prone) moving operation in `SafeRecorder`, while storing the data in an easy to access and process way. I would assume that storing each revision in a separate path is more expensive. But we can implement some kind of a da

[2011-08-16 04:45] reprogrammer commented on #257
@Wanderer777: I won't worry that much about the space overhead on the server side. But, as you mentioned, if we commit the data into a new path, we will have to transfer the whole data rather than just the delta. This huge data transfer will hurt the user experience, specially if it's frequent. So, we have to think of ways to minimize the overhead of data transfer. We don't have to commit the data

[2011-08-16 05:22] Wanderer777 commented on #257
@reprogrammer: I think that we indeed can compare the local revision number vs. the server revision number to decide whether we need to upload data to a new path. We know for sure that if the revisions are the same, we can upload data without a risk of a conflict. If they are different, we start to upload to a new path. Such a check has to be done for all files since it is sufficient to have a sin

[2011-08-16 06:58] reprogrammer opened #311 "Evaluate committing data into fresh locations"
We ran into tricky problems with the data submission mechanism of CodingSpectator while investigating issues #257 and #309. In summary, when a user restores his/her workspace to an older version, Subversion gets confused. When the user's workspace is old, CodingSpectator has to update it to the latest revision to be able to commit it. But, the update operation might lead to some conflicts that are

[2011-08-16 07:00] reprogrammer commented on #257
@Wanderer777: There are a few questions we need to answer to better understand the cons and pros of committing to fresh locations. I've opened issue #311 to discuss the advantages and disadvantages of committing to fresh locations.

[2011-08-17 03:31] vazexqi opened #312 "Enumerate common error/warning messages"
We have captured the error/warning messages from refactorings. This allows us to determine what are the common errors/warnings that users encounter and perhaps offer better interfaces for quickly notifying of such errors, preventing such errors, etc. So far, no other work has tried to categorize the common error/warning messages that developers encounter while using tools.

The list of code change

[2011-08-18 08:12] reprogrammer commented on #312
@vazexqi,

Would you add the query we wrote for listing the error messages of "change method signature" to `scripts/analysis-queries.sql`?

[2011-08-19 21:52] reprogrammer opened #313 "Find events with approximate timestamps in CodingTracker"
CodingTracker can locate an event by its timestamp. However, the timestamps of the refactoring events captured by Eclipse, CodingSpectator and CodingTracker may differ (See issue #120). This makes it difficult to find events in CodingTracker logs. For example, if we'd like to see the operations before and after a refactoring captured by CodingSpectator, we cannot use the timestamp captured by Codi

[2011-08-19 22:30] reprogrammer opened #314 "The replayer of CodingTracker is too slow"
I loaded the change sequence at `cs-111/a59ed788-a72b-435a-b673-8b25e13e7e99/1.0.0.201105300951/codingtracker/codechanges.txt` and left a break point at timestamp 1313081027570. Then, I replayed the sequence in "Fast" mode. It took about half an hour until CodingTracker failed by throwing an exception. I don't know how long it will take CodingTracker to reach my break point.

Even half an hour to

[2011-08-22 22:05] #313 closed, assigned to Wanderer777

[2011-08-22 22:39] Wanderer777 commented on #314
@reprogrammer:
- In general, in the "Fast" mode, CodingTracker does not make any additional delays between the replayed operations. The only exception is saving an editor or a conflict editor (where there is a small 100 ms delay, which should be replaced with listening to `IProgressMonitor#done()`) and performing a refactoring delay of 2 seconds (and I do not know yet how to avoid this one). Consi

[2011-08-22 23:07] reprogrammer commented on #314
@Wanderer777: What concrete actions are you going to take to increase the speed of replays? Are you going to implement the "jump to" action?

[2011-08-22 23:12] reprogrammer opened #315 "Store the results of the awareness survey"
We are going to distribute a survey to understand the awareness of developers about various refactoring tools in Eclipse. I've created a draft of the survey at http://codingspectator.cs.illinois.edu/RefactoringToolsSurvey/. The next step is to store the results in the database and send a notification e-mail when the user submits the form.

[2011-08-22 23:21] vazexqi commented on #315
Unfortunately, I think the form has too many things to be filled. I suspect you probably don't want to give them default values since you think it's a good idea to make them read each box properly. But 27 lines x 3 radio boxes = 81 mouse clicks and that will be quite tedious to fill.

How can we make the form simpler? Or how can we make it easier to fill out (maybe bigger checkboxes instead radio

[2011-08-22 23:27] Wanderer777 commented on #314
@reprogrammer: Yes, I am going to implement the "jump to" action, but first I will stop showing additional information during the fast replay (i.e. moving the current user operation in the sequences and displaying its details).

[2011-08-23 00:02] vazexqi commented on #315
Here's another suggestion: it's quite hard to read each row. So let's alternate the colors.

[2011-08-23 00:38] reprogrammer commented on #315
@vazexqi: It's a good idea to alternate the row colors. Do you know how we to do it? I assume we should use a custom CSS style for the table.

[2011-08-23 02:24] vazexqi commented on #315
We can follow the stylesheet that I when I created the website for https://netfiles.uiuc.edu/dig/RefactoringInfo/WRT09/

[2011-08-23 20:27] Wanderer777 commented on #314
The previous commit adds the "jump to" action to the CodingTracker's replayer. To properly replay the operation sequence from the "jumped to" operation, make sure that the workspace is clean (e.g. click "Reset"). Also, do not jump inside operations that change the content of a conflict editor. Considering that such operations are very rare and you are interested in jumping to refactorings, this sh

[2011-08-23 23:36] Wanderer777 commented on #314
In the above commit I fixed the way in which the "jump to" action works. It needs to consider that in between the operation to which a user wants to jump and the actual operation to which the jump is going to happen (which is established as the earliest of the closest snapshots of the files edited after the given "jump to" operation) there could be other file editing operations, which require to e

[2011-08-24 14:39] Wanderer777 commented on #314
Speaking about a way not to show Eclipse editors, I found that the easiest approach would be to minimize the window of the Eclipse instance that performs the replay. As a result, I measured an improvement in replay time of around 25% - 30%, which is significant. So, at the moment, the fastest possible replay looks like this:
1. Jump as close as possible to the desired operation or start from the b

[2011-08-26 10:14] #294 closed, assigned to reprogrammer

[2011-08-26 12:58] reprogrammer opened #316 "Compute a measure of participants' use of CodingSpectator"
It would be nice to have the script [summarize-user-activities.rb](https://github.com/vazexqi/CodingSpectator/blob/master/scripts/summarize-user-activities.rb) report a rough estimate of how much code each participant has developed under the presence of CodingSpectator. I think it would be good enough to compute the total size of the CodingTracker logs of each participant. Even though this metric

[2011-08-26 13:01] #296 closed, assigned to reprogrammer

[2011-08-26 13:09] Wanderer777 commented on #316
@reprogrammer: I think that still imprecise but somewhat more objective measure would be to count the total number of operations recorded for each participant. After parsing a participant's data, this can be obtained as the size of the operation sequence list.

[2011-08-27 20:46] reprogrammer opened #317 "Mark the selection in the captured code snippet"
Sometimes refactorings are unavailable or report problems due to wrong selections. Therefore, it's interesting to study the selections. CodingSpectator captures both structural and textual selections (See issues #163 and #170). It stores the offsets of the textual selections relative to the captured code snippet. I suggest that we change the CSV file generator to add a column that contains the str

[2011-08-27 20:47] vazexqi commented on #317
I'm using the selection column in #312. Is that different? What does the selection column report then?

[2011-08-27 21:39] reprogrammer commented on #317
I had forgot the "selection-text" attribute. Thanks for reminding me. The "selection-text" attribute computes the string of the selection. However, the length of the selection is usually zero because most of the time the user just needs to place the cursor inside the right program element. The beginning offset of the attribute "selection-in-code-snippet" would help us determine the cursor position

[2011-08-28 20:24] vazexqi opened #318 "Instrument other quick-assist operations"
Eclipse maintains a list of quick assist operation in its [Help system](http://help.eclipse.org/indigo/index.jsp?topic=%2Forg.eclipse.jdt.doc.user%2Freference%2Fref-java-editor-quickassist.htm).

We instrument the refactorings at the bottom of the table but not the ones at the top. In fact, the operations at the top of the table are not necessarily refactorings per-se but are nevertheless useful o

[2011-08-31 19:27] vazexqi opened #319 "Investigate possible duplicates in recorded events"
In one participant (cs-107) we noticed that we have captured identical events numerous times in the event stream. In this particular case, we noticed several invocations of a PERFORMED change method signature captured through Eclipse. This is problematic because it leads to double (or even triple, etc) counting.

The nature of the problem seems to be that we capture the same refactorings in differ

[2011-09-01 15:27] vazexqi opened #320 "Refactoring comments are truncated in the database"
The return values of the refactoring comments column from the database table are strings but they have been truncated. It would be nice to get the full comments when possible. The truncation could have happened during any of these stages:
1. the export from logs to CSV
2. the import from CSV to SQL
3. the export during a SQL query

[2011-09-04 20:46] reprogrammer commented on #317
I think it would be nice to make the generator of the final CSV file add a column that contains the code snippets and their containing selections.

[2011-09-06 04:51] reprogrammer opened #321 "Estimate the number of hours of using CodingSpectator"
It would be nice to report the number of hours that our data covers. Is it possible to analyze CodinTracker logs to estimate the number of hours that every participant has programmed under the presence of CodingSpectator?

[2011-09-09 17:05] reprogrammer commented on #321
@Wanderer777, @vazexqi: We can also consider the UDC data to estimate the number of hours of development.

[2011-09-15 02:49] reprogrammer commented on #292
@vazexqi:

All of the wrong navigation histories belong to cancelled refactorings that are not invoked by Quick Assist, and some of them are captured by the most recent version of CodingSpectator (v1.0.0.201107172337). We need to investigate this problem further and find the root cause of it.

[2011-09-16 03:42] reprogrammer commented on #321
@Wanderer777: Thanks for providing `UsageTimeAnalyzer`. How can we use this analyzer?

[2011-09-16 14:59] Wanderer777 commented on #321
@reprogrammer: You can use `UsageTimeAnalyzer` exactly the same way as you use `RefactoringIntensityAnalyzer`, i.e. specify the root folder and then run it as a JUnit Plugin Test. The combined result will appear in the specified root folder, the file's default name is `combined.usage_time`.

[2011-09-17 02:43] reprogrammer commented on #292
@rajkuma1: The classes `org.eclipse.ltk.internal.ui.refactoring.RefactoringWizardDialog` and `org.eclipse.ltk.internal.ui.refactoring.RefactoringWizardDialog2` are two of the main classes that CodingSpectator instruments to record the navigation histories.

[2011-09-18 18:02] reprogrammer opened #322 "Report the change size and configuration time of refactorings"
We've got a CSV file that reports the number of lines and files affected by every refactoring. We've got another CSV file that reports the time the user has spent on configuring every refactoring. We'd like to combine these two pieces of information into a single CSV file for further processing. That is, we'd like to create a CSV file that reports both the size and configuration time of every refa

[2011-09-19 01:47] reprogrammer commented on #322
I didn't manage to make the [analysis-queries.sql](https://github.com/vazexqi/CodingSpectator/blob/master/scripts/analysis-queries.sql) combine the configuration time and change size of refactorings. So, I wrote the Ruby script [report-refactoring-size-configuration.rb](https://github.com/vazexqi/CodingSpectator/blob/master/scripts/report-refactoring-size-configuration.rb) to combine these two pie

[2011-09-19 18:42] reprogrammer commented on #321
@vazexqi, @Wanderer777: I suggest that we change the name of the column `USAGE_TIME` to `USAGE_TIME_IN_MILLI_SECS` to make the unit of measurement clear.

[2011-09-23 23:29] vazexqi commented on #292
@rajkuma1, @reprogrammer

_Problem_: We capture when the user explicitly presses one of the buttons of the wizard e.g. Next, Previous, Cancel, etc but not when the user closes the dialog by hitting ESC or by clicking 'X' on the window.

Steps to reproduce:
1. Invoke any of the refactorings. In particular from analyzing the CSV logs it seems that inline, extract, rename are the ones that exhibit th

[2011-10-03 20:56] reprogrammer commented on #311
@Wanderer777: Another alternative would be to use the `svn rm` to remove the workspace data remotely and remove the metadata of the local SVN working copy. These commands basically trick CodingSpectator to think that the local data is new and was never uploaded.

[2011-10-08 19:23] reprogrammer commented on #311
@Wanderer777: The test `edu.illinois.codingspectator.monitor.tests.TestSubmitterWithConflicts.shouldSubmit()` throws the following exception:

<pre>
org.eclipse.core.runtime.CoreException: Could not write file: .../junit-workspace/.metadata/.plugins/edu.illinois.codingspectator.data/.svn/entries.
    at org.eclipse.core.internal.filesystem.Policy.error(Policy.java:55)
    at org.eclipse.core.inter

[2011-10-08 20:04] reprogrammer commented on #311
@Wanderer777: Could you please review my recent changes to the submitter? My next step is to revert my changes that moved some of the CodingSpectator data out of the watched folder.

[2011-10-08 20:34] reprogrammer commented on #311
@Wanderer777: Actually, now that I think more about it, I think it's a good idea to buffer the CodingSpectator data outside the watched folder because it avoids the rare conflicts with data submission. That is, if we buffer the CodingSpectator data out of the watched folder, we no longer risk writing to the watched folder at the same time that Subversion is uploading data from the watched folder t

[2011-10-08 23:29] #322 closed, assigned to nobody

[2011-10-08 23:30] #317 closed, assigned to reprogrammer

[2011-10-08 23:31] #320 closed, assigned to vazexqi

[2011-10-08 23:31] reprogrammer commented on #315
I'm closing this issue because we finally decided not to conduct the survey online.

[2011-10-08 23:31] #315 closed, assigned to nobody

[2011-10-08 23:34] #303 closed, assigned to nobody

[2011-10-08 23:35] #298 closed, assigned to reprogrammer

[2011-10-08 23:36] #288 closed, assigned to nobody

[2011-10-08 23:41] reprogrammer opened #323 "Capture invocations of refactorings using Quick Fix"
Some refactoring can be invoked via Quick Fix (See issues #190 and #272). It would be nice to make CodingSpectator record invocations of refactorings via Quick Fix.

[2011-10-08 23:42] reprogrammer commented on #272
I created issue #323 to capture invocations of this refactoring via Quick Fix.

[2011-10-08 23:43] #272 closed, assigned to reprogrammer

[2011-10-08 23:46] reprogrammer commented on #316
@Wanderer777: We'll use this imprecise but quick method to continuously monitor the activities of our participants not for reporting statistics in our publications. A more precise approach is discussed in issue #321.

[2011-10-08 23:46] #316 closed, assigned to reprogrammer

[2011-10-08 23:47] #293 closed, assigned to reprogrammer

[2011-10-08 23:48] #265 closed, assigned to nobody

[2011-10-08 23:51] reprogrammer commented on #211
@Wanderer777: Since I don't have a reason to believe that CodingSpectator has caused the above exceptions, I'm closing this issue.

[2011-10-08 23:51] #211 closed, assigned to nobody

[2011-10-09 00:01] reprogrammer commented on #321
@Wanderer777: I renamed `USAGE_TIME` to `USAGE_TIME_IN_MILLI_SECS` in the SQL script (See commit f2e39ec9d66dd8920d8869b98776d8924b89256e). I think you also need to update the column name of the CSV file that your analyzer generates accordingly.

[2011-10-09 00:05] reprogrammer commented on #307
@Wanderer777: I suggest that we release a new version of CodingSpectator that fixes the SVN conflict problem this weekend (10/9/2011). Could you please review the open issues that are assigned to you or related to CodingTracker and close or postpone them to the next milestone?

[2011-10-09 00:18] reprogrammer commented on #307
- Improve the reliability and performance of SWTBot tests by using wait instead of sleep commands (issue #226).
- Assumed that recording compilation problems doesn't change user experience (issue #211).
- Added the instructions for setting up the secure storage mechanism of Eclipse on different platforms (issue #265).
- Confirmed that CodingTracker works fine with the refresh on access feature of

[2011-10-09 14:23] Wanderer777 commented on #311
@reprogrammer: Your changes look good.

As about data buffering, I am not sure why we need a separate solution for CodingSpectator data, i.e. why we can not write it to a temporary file the same way we write CodingTracker data?

To revert back to switching to a temporary file instead of buffering the data, we need to make sure that:
1. The notification that triggers the switch happens after `doAdd

[2011-10-09 16:34] reprogrammer commented on #311
@Wanderer777: We don't switch CodingSpectator data to a temporary file because it results in intrusively changing the refactoring serialization mechanism of Eclipse.
1. CodingSpectator needs to get notified before `doAdd` in order to include its data in the ongoing submission. There are two ways that you could go: First, you could add another hook between `doAdd` and `doCommit` to `SubmitterListen

[2011-10-09 18:01] Wanderer777 commented on #311
@reprogrammer:
1. I prefer to add an additional notification in between `doAdd` and `doCommit` because keeping the temporary file in the watched folder ensures that we never lose its content since if something goes wrong, this file will get submitted during the subsequent upload.
2. I assume this also holds for the `preCommit` notification that we are going to send in between `doAdd` and `doCommit

[2011-10-09 18:45] reprogrammer commented on #311
@Wanderer777:
1. I think it's safer to avoid the hook between `doAdd` and `doCommit` (See item 3).
2. Yes, in general, it's better to keep the `Submitter` simple and require the `SubmitterListener`s to keep track of the notifications that they need.
3. I think that's a reasonable assumption, but I'm not confident about it. I think this uncertainty is a good reason to avoid the hook between `doAdd`

[2011-10-09 19:47] Wanderer777 commented on #321
@reprogrammer: The column name in the CSV file generated by the analyzer is 'usage time (ms)'. And as far as I can remember, this column always had this name. So, it never matched the SQL script name. Therefore, I am not sure why we need to match it now (its current name looks sufficiently descriptive to me).

[2011-10-09 19:49] #321 closed, assigned to Wanderer777

[2011-10-09 19:53] #314 closed, assigned to Wanderer777

[2011-10-09 19:54] #301 closed, assigned to Wanderer777

[2011-10-09 19:56] #300 closed, assigned to Wanderer777

[2011-10-09 19:56] #297 closed, assigned to Wanderer777

[2011-10-09 19:58] Wanderer777 commented on #291
The file was manually fixed and committed to the local repository.

[2011-10-09 19:58] #291 closed, assigned to Wanderer777

[2011-10-09 19:59] Wanderer777 commented on #244
I updated all older sequences to the newer format and committed them to the internal repository.

[2011-10-09 19:59] #244 closed, assigned to Wanderer777

[2011-10-09 20:00] #241 closed, assigned to Wanderer777

[2011-10-09 20:05] Wanderer777 commented on #307
- Implemented usage time analyzer (issue #321) and refactoring effects analyzer.
- Improved the replay speed of CodingTracker, also added the 'jump to' action (issue #314).
- Added postprocessor to fix the negative refactoring timestamps and updated all the broken sequences (issue #301).
- Implemented an automated converter from the old to the new API of refactoring operations and updated all the

[2011-10-09 20:48] Wanderer777 opened #324 "CodingTracker can miss events due to too slow registration of listeners."
CodingTracker performs IO operations before some listeners are registered. If these IO operations take too long, the listeners would be registered too late, and would not get all events from Eclipse. The resulting operation sequence will be unreplayable due to this missing part.

[2011-10-09 21:00] Wanderer777 commented on #311
@reprogrammer: According to our discussion, I am going to implement a hook between `doAdd` and `doCommit`.

[2011-10-09 22:21] reprogrammer opened #325 "Wrap the subject lines of Git commit messages at 72 characters"
The new interface of GitHub truncates the first line of commit messages at 72 characters (See https://github.com/blog/926-shiny-new-commit-styles). Therefore, I suggest that we change our convention to have at most 72 characters on the first line of our commit messages.

[2011-10-09 23:19] reprogrammer commented on #325
@vazexqi, @Wanderer777, @rajkuma1:

I've updated the instructions at https://github.com/vazexqi/CodingSpectator/wiki/Contributing-to-CodingSpectator and the git hook script (See c06283c15a6d9898f8ffdb2e1bb7ef9bf99e8b5b) to limit the length of the first line of commit messages to 72 characters.

Please update the `commit-msg` of your local git repository to follow the new conventions.

[2011-10-09 23:42] reprogrammer commented on #307
@Wanderer777:

Could you please add brief descriptions of the following issues to [your comment above](https://github.com/vazexqi/CodingSpectator/issues/307#issuecomment-2338436)?
- issue #244
- issue #253
- issue #286
- issue #291
- issue #297
- issue #313

[2011-10-10 00:25] #324 closed, assigned to Wanderer777

[2011-10-10 04:36] reprogrammer commented on #311
@Wanderer777: I just realized that it may not be sufficient to compare the SVN local and remote revision numbers to detect conflicts. Let's say the local revision number of an SVN working copy is 494 and the remote revision number is 495. Assume that the copy of `log.txt` in the working copy is in conflict with the one in the remote repository. If you do an SVN update operation, Subversion will no

[2011-10-10 18:14] reprogrammer opened #326 "Submitter fails while notifying listeners about preCommit"
Submitter throws the following exception while notifying its listeners.

<pre>
!ENTRY edu.illinois.codingspectator.monitor.ui 4 2 2011-10-10 13:12:47.118
!MESSAGE Problems occurred when invoking code from plug-in: "edu.illinois.codingspectator.monitor.ui".
!STACK 0
java.lang.AbstractMethodError: edu.illinois.codingspectator.eclipserefactorings.capturing.EclipseRefactoringHistoryCapturer.preCommit(

[2011-10-10 19:07] reprogrammer commented on #326
The problem persists even when we close the Eclipse project `edu.illinois.codingspectator.refactorings.capturing`. This shows that Eclipse is using old version of this bundle that does not implement `preCommit`.

[2011-10-10 19:31] #325 closed, assigned to reprogrammer

[2011-10-10 19:41] #257 closed, assigned to nobody

[2011-10-10 19:41] #309 closed, assigned to reprogrammer

[2011-10-11 04:51] reprogrammer commented on #326
I didn't encounter this exception when I used a fresh instance of Eclipse without CodingSpectator.

[2011-10-11 05:34] reprogrammer opened #327 "CodingSpectator's SWTBot tests do not run on Indigo SR1"
I get the following exception when I try to run one of our SWTBot tests:

<pre>
!SESSION 2011-10-11 00:21:59.003 -----------------------------------------------
eclipse.buildId=M20110909-1335
java.version=1.6.0_26
java.vendor=Sun Microsystems Inc.
BootLoader constants: OS=linux, ARCH=x86_64, WS=gtk, NL=en_US
Framework arguments:  -version 3 -port 56486 -testLoaderClass org.eclipse.jdt.internal.jun

[2011-10-11 15:58] reprogrammer opened #328 "CodingSpectator does not install on Eclipse Indigo SR1"
Eclipse Indigo SR1 refuses to install CodingSpectator v1.0.0.201107172337 by reporting the following the error message:

<pre>
Cannot complete the install because of a conflicting dependency.
  Software being installed: CodingSpectator 1.0.0.201107172337 (edu.illinois.codingspectator.feature.group 1.0.0.201107172337)
  Software currently installed: Eclipse for RCP and RAP Developers 1.4.1.20110909

[2011-10-11 18:29] #287 closed, assigned to reprogrammer

[2011-10-11 18:36] #311 closed, assigned to nobody

[2011-10-11 19:17] reprogrammer commented on #328
The fix for issue #327 resolved this issue as well.

[2011-10-11 19:20] #326 closed, assigned to nobody

[2011-10-11 20:14] reprogrammer commented on #307
@Wanderer777, @vazexqi, @rajkuma1:

The new unstable releases of CodingSpectator for Helios and Indigo are available at the following addresses:
- Helios: http://codingspectator.cs.illinois.edu/unstable-updates/helios/
- Indigo: http://codingspectator.cs.illinois.edu/unstable-updates/indigo/

Please upgrade your installations of CodingSpectator to the new unstable releases and let me know if you f

[2011-10-12 13:15] Wanderer777 commented on #307
@reprogrammer: Should we implement support for Indigo SR1 in the upcoming release? If yes, I would rather test the release after all our changes to it.

[2011-10-12 14:35] Wanderer777 commented on #307
@reprogrammer: Oh, I noticed that the Indigo SR1 installation problem was solved as part of another issue.

[2011-10-12 19:56] reprogrammer opened #329 "CodingSpectator asks for authentication information just once"
@Wanderer777 noticed that I if CodingSpectator fails to authenticate the user during the upload, it throws an exception and reports it to the user, but it does not prompt the user again to reenter his or her authentication information.

[2011-10-13 16:30] reprogrammer opened #330 "CodingSpectator breaks content assistant on Eclipse Indigo SR1"
If you try to type "main<CTRL+Space>" on Eclipse Indigo with CodingSpectator, Eclipse will show [an error dialog](http://i55.tinypic.com/2dig2hk.png) and reports the following problems in the error log.

<pre>
eclipse.buildId=M20110909-1335
java.version=1.6.0_26
java.vendor=Sun Microsystems Inc.
BootLoader constants: OS=linux, ARCH=x86_64, WS=gtk, NL=en_US
Framework arguments:  -product org.eclips

[2011-10-13 17:38] reprogrammer opened #331 "Release by 10/13/2011"
We have found a few bugs in the latest unstable release of CodingSpectator (See issues #329 and #330). Therefore, we have to make another release that fixes these bugs. This issue will list the changes in the upcoming release of CodingSpectator. Whenever you complete a feature or fix a bug, please add a comment to this issue briefly describing the change and the corresponding issue number.

[2011-10-13 17:40] reprogrammer commented on #331
- Prevented the installation of CodingSpectator on Eclipse Indigo SR1 (issues #327, #328, and #330).
- Made the authentication process prompt again if the user enters an incorrect piece of information the first time (issue #308, #329).
- Added the URL to the consent form to the login dialog (issue #332).

[2011-10-13 19:22] reprogrammer commented on #329
There are two kinds of bugs that have showed up multiple times as we changed the submission mechanism of CodingSpectator:
1. The uploader fails to ask for authentication information again when the provided information is wrong.
2. The uploader keeps asking for authentication information even when the user has canceled the dialog.

Since these problems have occurred several times, we need to write

[2011-10-13 23:01] reprogrammer opened #332 "Add the URL for creating a CodingSpectator account on the login dialog"
Some users install CodingSpectator through the Eclipse Marketplace (See the installation counts  at the bottom of pages at http://marketplace.eclipse.org/content/codingspectator-eclipse-helios and http://marketplace.eclipse.org/content/codingspectator-eclipse-indigo). The CodingSpectator's page on Eclipse Marketplace provides the link to the consent form. But, it would be nice to also provide the

[2011-10-14 00:19] #308 closed, assigned to reprogrammer

[2011-10-14 00:40] #332 closed, assigned to reprogrammer

[2011-10-14 00:41] #307 closed, assigned to nobody

[2011-10-14 01:02] #329 closed, assigned to reprogrammer

[2011-10-14 01:46] reprogrammer commented on #331
@Wanderer777, @vazexqi, @rajkuma1:

We found a few bugs with our previous unstable releases. So, we made new unstable releases of CodingSpectator. As usual, the latest unstable releases of CodingSpectator for Helios and Indigo are available at the following addresses:

Helios: http://codingspectator.cs.illinois.edu/unstable-updates/helios/
Indigo: http://codingspectator.cs.illinois.edu/unstable-up

[2011-10-14 16:24] reprogrammer commented on #331
@Wanderer777, @vazexqi, @rajkuma1:

The new releases of CodingSpectator are now publicly available at the following addresses:

Helios: http://codingspectator.cs.illinois.edu/updates/helios/
Indigo: http://codingspectator.cs.illinois.edu/updates/indigo/

[2011-10-14 16:25] #331 closed, assigned to nobody

[2011-10-15 22:02] reprogrammer commented on #330
@Wanderer777: Eclipse Indigo SR1 is the first official release of Eclipse that supports Java 7 (See http://eclipse.org/org/press-release/20110929_indigosr1.php). JDT must have gone under significant changes to accommodate the new features. Therefore, we might have to create another set of patches to support Eclipse Indigo SR1.

[2011-10-17 05:18] reprogrammer commented on #242
@Wanderer777:

Participant cs-506 has reported a similar problem:

<pre>
Cannot complete the install because of a conflicting dependency.
  Software being installed: CodingSpectator 1.0.0.201110132018 (edu.illinois.codingspectator.feature.group 1.0.0.201110132018)
  Software currently installed: Shared profile 1.0.0.1317160468326 (SharedProfile_PlatformProfile 1.0.0.1317160468326)
  Software curre

[2011-10-17 15:24] reprogrammer commented on #242
@Wanderer777:

The plug-in `org.eclipse.core.resources [3.7.100.dist]` is not specific to Indigo SR1. Both Indigo and Indigo SR1 contain the following plug-in:

`Core Resource Management 3.7.100.v20110510-0712 org.eclipse.core.resources`

[2011-10-17 19:43] reprogrammer commented on #268
@vazexqi said that we didn't capture this refactoring invoked using Quick Assist either.

[2011-10-22 12:02] reprogrammer opened #333 "Investigate repeated detections of inconsistencies between local and remote data"
Recently, CodingSpectator has detected inconsistencies between the  local and remote data of participant cs-106 repeatedly. This phenomenon is suspicious because this participant didn't have any problems submitting data in the past. Therefore, I suggest that we investigate the root cause of this behavior of CodingSpectator for this particular participant.

[2011-11-01 23:31] reprogrammer commented on #333
@Wanderer777: Participant cs-121 told me today that he or she had noticed long running upload jobs of CodingSpectator and cancelled a couple of them. Other participants have probably noticed the long running jobs due to the frequent deletions of remote data. We need to fix this issue as soon as possible.

[2011-11-01 23:36] reprogrammer commented on #333
@Wanderer777: I suspect that CodingSpectator detects too many inconsistencies because of wrong revision numbers. CodingSpectator may be relying on a global revision number that gets updated by anyone's commit. I realized that we didn't test the submission mechanism of CodingSpectator when multiple participants interleave their submissions. I'm going to try out this scenario and update this issue s

[2011-11-01 23:56] reprogrammer commented on #333
@Wanderer777: I just tested a scenario where the submissions of two users are interleaved and confirmed that CodingSpectator gets confused and deletes the remote data unnecessarily. My next step is to write an automated test to cover this scenario.

[2011-11-02 00:24] Wanderer777 commented on #333
@reprogrammer: This is a really unfortunate bug since all participants are severely affected. I agree that it should be fixed ASAP. To establish versions mismatch, CodingSpectator should check an entity, whose revision number is not updated globally, i.e. it is updated only by the commits of this particular participant.

[2011-11-02 20:56] reprogrammer commented on #333
@Wanderer777: Commits c4dcbb2 .. a439453 added an automated test to reveal the bug reported in this issue. Next, I'll fix the bug such that the test passes.

[2011-11-02 22:12] reprogrammer opened #334 "Release by 11/3/2011"
The most important change in this release will be a fix to the bug that made the submissions inefficient (See issue #333).

This issue will list the changes in the upcoming release of CodingSpectator. Whenever you complete a feature or fix a bug, please add a comment to this issue briefly describing the change and the corresponding issue number.

[2011-11-02 22:14] reprogrammer commented on #333
@Wanderer777: Commit a6b1769 fixed this issue. The next step is to release a new version of CodingSpectator that includes this fix (See issue #334).

[2011-11-02 22:29] reprogrammer commented on #334
- Fixed the redundant detection of inconsistency between local and remote data (issue #333).
- Confirmed that `error.log` doesn't get rotated (issue #278).
- Logged the close events of refactoring dialogs in navigation histories (issue #292).
- Found a workaround for installing on an instance of Eclipse owned by root (issue #242).

[2011-11-03 05:55] reprogrammer commented on #292
Test `extractmethod.T07` failed frequently on my laptop because it didn't generate some of the log files. I need to repeat the test on another machine to see if the problem persists.

[2011-11-03 15:21] reprogrammer opened #335 "Submitting data through a proxy"
One of our participants got the following exception when he or she tried to upload his or her data:

<pre>
edu.illinois.codingspectator.monitor.ui.submission.Submitter$InitializationException: org.tmatesoft.svn.core.SVNException: svn: CONNECT request failed on 'http://158.169.9.13:8012'
svn: CONNECT of 'subversion.cs.illinois.edu:443': 407 Proxy Authentication Required (https://subversion.cs.illin

[2011-11-03 17:07] reprogrammer commented on #242
@vazexqi, @Wanderer777:

I was able to reproduce this problem and resolve it by running Eclipse as root. [Bug 339659](https://bugs.eclipse.org/bugs/show_bug.cgi?id=339659) gave me the idea of this workaround.

[2011-11-03 17:12] reprogrammer commented on #278
I'm closing this issue because it seems like we've ensured that `error.log` doesn't get rotated.

[2011-11-03 17:12] #278 closed, assigned to reprogrammer

[2011-11-03 18:01] reprogrammer commented on #292
Sometimes, the automated GUI tests fail even on my desktop machine because the actual logs are missing. I believe this problem is due to the timing issues of tests. However, I expected that the use of wait statements instead of sleep statements would fix this issue, but, apparently the tests are still fragile (See issue #226).

[2011-11-04 00:44] reprogrammer commented on #334
@Wanderer777, @vazexqi, @rajkuma1:

I've published the unstable releases of CodingSpectator for testing. As usual, the latest unstable releases of CodingSpectator for Helios and Indigo are available at the following addresses:

Helios: http://codingspectator.cs.illinois.edu/unstable-updates/helios/
Indigo: http://codingspectator.cs.illinois.edu/unstable-updates/indigo/

Please upgrade your install

[2011-11-04 03:09] #292 closed, assigned to nobody

[2011-11-05 02:00] #333 closed, assigned to nobody

[2011-11-07 20:17] #334 closed, assigned to nobody

[2011-11-15 18:02] reprogrammer commented on #242
Participant cs-105 reported the following when he or she installed CodingSpectator by running Eclipse as root:

[2011-11-16 13:31] reprogrammer opened #336 "Analyze the timesheet calendar"
It would be nice to use the [Google Calendar API](http://code.google.com/apis/calendar/data) to analyze our timesheet calendar to see how long we have spent on various parts of the project.

[2011-11-17 05:50] reprogrammer opened #337 "CodingSpectator removed the remote data without a following submission"
We received the following submission from participant cs-121:

<pre>
Author: cs-121
Date: Wed Nov 16 13:09:04 2011
New Revision: 2207

Log:
Deleted the remote data because the submission failed with the following exception:
org.tmatesoft.svn.core.SVNException: svn: unknown host
svn: OPTIONS request failed on '/basic/CodingSpectatorData/cs-121/63b81b8c-5baf-4893-9fd5-38310427558b'
       at org.tma

[2011-11-28 22:11] reprogrammer commented on #146
### The Change Method Signature refactoring does not get recorded in refactoring histories correctly.

The refactoring descriptor of Change Method Signature captured in `refactorings.history` doesn't capture the change in the order and name of method parameters (See [Bug 365010](https://bugs.eclipse.org/bugs/show_bug.cgi?id=365010)).

[2011-12-06 07:00] Bananeweizen commented on #328
Can't you just use [3.7.0, 4.0.0) as dependency to run in 3.7.0 and 3.7.1 as well? Promoting this research study in blogs is of no help if people can't even install the plugin...

http://wiki.eclipse.org/Version_Numbering#How_to_specify_plug-in_requirements

[2011-12-07 00:10] reprogrammer commented on #328
@Bananeweizen

Thanks for your interest in the CodingSpectator study. To build CodingSpectator, we have changed the source code of Eclipse. Currently, CodingSpectator is not binary compatible with Eclipse 3.7.1 (See issue #330). Therefore, we need to create another version of CodingSpectator for Eclipse 3.7.1. Because of the overhead of supporting new versions of Eclipse, CodingSpectator doesn't c

[2011-12-21 06:59] reprogrammer opened #338 "Make CodingSpectator support Eclipse Indigo SR1"
We need to create another set of patches to support CodingSpectator on Eclipse Indigo SR1 (3.7.1). This issue relates to issues #327, #328, and #330.

[2011-12-21 20:33] reprogrammer commented on #338
@Wanderer777

I followed the instructions at https://github.com/vazexqi/CodingSpectator/wiki/Supporting-Indigo-SR1 to patch "org.eclipse.ltk.core.refactoring" in bf4ef7e7326350a295356559aa62685acc2f0f4f.

[2011-12-21 23:10] reprogrammer commented on #338
@Wanderer777:

I patched LTK and JDT plug-ins in 57249f872d714577becdc004009fe30c7f98e0e1 .. 125e98fab9a66f132ab9ddf101ec4f03f35cbef8. My next step is to test these patches.

[2011-12-22 00:12] reprogrammer commented on #260
@Wanderer777

I ran into this issue again when patching CodingSpectator for Eclipse Indigo 3.7.1 (See issue #338). Therefore, I decided to begin fixing this issue in 2886618265dc3678da4ee11cfc56faed05ba51b2. I created a new plug-in called `edu.illinois.codingtracker.compare.helpers` and moved `EditorHelper` to it. As a result, you may have to add the dependency on the new plug-in `edu.illinois.cod

[2011-12-22 00:16] reprogrammer commented on #338
@Wanderer777:

The plug-in `org.eclipse.jdt.core` has been modified for CodingTracker only, but, I patched in anyways. However, the patch produced the following compilation problem. Would you fix this compilation problem in `org.eclipse.jdt.core`?

<pre>
Description Resource    Path    Location    Type
resourceListener cannot be resolved or is not a field   Buffer.java /org.eclipse.jdt.core/model/

[2011-12-22 12:54] reprogrammer opened #339 "Reorganize the plug-ins folder"
I plan to move the plug-ins that are directly inside the "plug-ins" folder to "plug-ins/common". This change will lead to the following cleaner organization of our plug-ins folder:

<pre>
plug-ins
  common
  helios
  indigo
  indigo-sr1
</pre>

If you have other suggestions for the name of the new folder, which is currently going to be "common", please let me know. I was considering names like "ec

[2011-12-22 17:44] reprogrammer commented on #339
@Wanderer777: Does CodingTracker have changes that haven't been merged into master yet? If so, it might be better to reorganize the plug-ins folder after you merge your changes.

[2011-12-22 20:44] Wanderer777 commented on #339
@reprogrammer: There are two active branches for CodingTracker - `codingtracker` and `codingtracker-ast-inference`. The latter should never be merged into `codingtracker` or `master`. The former contains only changes related to replaying since its last merging with `master`, so merging it back to `master` is not critical for the coming release, but we can do it just for a better maintenance. What

[2011-12-22 20:48] reprogrammer commented on #339
@Wanderer777: In general you would have an easier time if you merge your work into master more frequently. So, I encourage you to merge the `codingtracker` branch into `master` as soon as possible. Could you please remind me why the branch `codingtracker-ast-inference` should be never merged into `master`?

[2011-12-22 21:45] Wanderer777 commented on #339
@reprogrammer: OK, I merged `codingtracker` in `master`. At the moment, we can not safely mix recording of raw evolution data and inferring AST node operations, therefore `codingtracker-ast-inference` should not get into the release.

[2011-12-22 21:52] reprogrammer commented on #339
@Wanderer777: Does that imply that `codingtracker-ast-inference` is a [feature branch](http://martinfowler.com/bliki/FeatureBranch.html)? Does it make sense to use [feature toggle](http://martinfowler.com/bliki/FeatureToggle.html) to merge it back to `master`?

[2011-12-22 22:57] Wanderer777 commented on #339
@reprogrammer: I do not see any reason to merge `codingtracker-ast-inference` into `master`, since I doubt we will need to release its functionality to our participants in future. Anyway, I regularly merge `master` into it (through `codingtracker`), so there would not be a problem to merge it into `master` later, if we decide so.

[2011-12-23 01:07] reprogrammer commented on #258
The UI tests exhibit similar behaviors on Indigo and Indigo SR1. The differences in Indigo SR1 with respect to Indigo are the following:
- Test `pushdown.T03` fails on Indigo SR1 because of unexpected changes of compilation problems.
- Tests `pullup.T01` and `pullup.T02` pass on Indigo SR1.

[2011-12-23 01:16] reprogrammer commented on #339
@Wanderer777: I got some conflicts in CodingTracker plug-ins when I tried to merge `master` into `indigo-sr1`. Would you please merge `master` into `indigo-sr1`?

[2011-12-23 02:51] reprogrammer commented on #338
When I try to build the update site, I get the following error message:

<pre>
eclipse.buildId=M20110909-1335
java.version=1.7.0_147-icedtea
java.vendor=Oracle Corporation
BootLoader constants: OS=linux, ARCH=x86_64, WS=gtk, NL=en_US
Framework arguments:  -product org.eclipse.epp.package.rcp.product
Command-line arguments:  -os linux -ws gtk -arch x86_64 -product org.eclipse.epp.package.rcp.produc

[2011-12-23 02:54] Wanderer777 commented on #339
@reprogrammer: Done.

[2011-12-23 03:13] reprogrammer commented on #339
I got the following error when trying to move a few plug-ins to "common/" and commit:

<pre>
Error: Attempting to commit a file that is longer than 200 characters.

plug-ins/common/edu.illinois.codingspectator.logstocsv.tests/resources/04/input/cs-000/00000000-0000-0000-0000-000000000000/1.0.0.qualifier/eclipse-refactorings/Prj/2011/8/33/.svn/text-base/refactorings.history.svn-base
has 219 charact

[2011-12-23 03:44] Wanderer777 commented on #339
@reprogrammer: A path limit of 220 leaves just 35 characters for the root of CodingSpectator. As far as I can see, it should not cause a problem for my current setup, but it is really close, and would reduce the flexibility of placing the root folder considerably. So, I wonder if it is really needed to use such long paths in tests. Also, I noticed that the limit is exceeded by 19 characters while

[2011-12-23 04:56] reprogrammer commented on #339
@Wanderer777: I'll reduce the length of the workspace ID to fit the path in 200 characters.

[2011-12-23 06:40] reprogrammer commented on #338
When I tried to install CodingSpectator on Eclipse Indigo SR1, I got the following error message:

<pre>
Cannot complete the install because one or more required items could not be found.
  Software being installed: CodingSpectator 1.0.0.201112230012 (edu.illinois.codingspectator.feature.group 1.0.0.201112230012)
  Missing requirement: edu.illinois.codingtracker.operations 1.0.0.201112230012 (edu.

[2011-12-23 16:11] reprogrammer commented on #338
Eclipse Indigo SR1 refused to install CodingSpectator because it couldn't verify the signed JARs. Eclipse generated the following exception in its error log during the installation of CodingSpectator:

<pre>
java.security.SignatureException: An error occurred while processing the signatures for the file: /tmp/signatureFile6183059849499261382.jar
    at org.eclipse.osgi.internal.signedcontent.Signe

[2011-12-23 18:21] reprogrammer commented on #339
@Wanderer777: I used the command `find plug-ins/edu* -iname "*" | awk '{ print length(),$0 | "sort -nr" }' | head -200` to find the [list](https://docs.google.com/spreadsheet/ccc?key=0AheYLxbSgV2udElCTjBHenB5cmF4Q1RZanRlcDU1Vmc) of 200 longest paths that match the pattern `plug-ins/edu*` in our repository.

Looking at our longest paths, it should be sufficient to shorten the length of the workspac

[2011-12-23 19:12] reprogrammer commented on #339
@Wanderer777

b499e17a35085af72e60b5634ae82d02c02f5118 moved some of the plug-ins to "plug-ins/common". Please update your workspaces accordingly.

[2011-12-23 20:14] reprogrammer opened #340 "Release on 12/23/2011"
The most important change in this release will be to support Eclipse Indigo SR1 (See issue #338).

This issue will list the changes in the upcoming release of CodingSpectator. Whenever you complete a feature or fix a bug, please add a comment to this issue briefly describing the change and the corresponding issue number.

[2011-12-23 20:42] reprogrammer commented on #340
- Released a version of CodingSpectator for Eclipse Indigo SR1 (issues #327, #328, #330, #338).
- Moved release independent bundles to `plug-ins/common` (issue #339).
- Extracted `edu.illinois.codingtracker.compare.helpers` from `edu.illinois.codingtracker.helpers` (issue #260).

[2011-12-23 21:56] reprogrammer commented on #340
@Wanderer777:

Today's releases of CodingSpectator are available at the following locations:
- http://codingspectator.cs.illinois.edu/unstable-updates/helios/
- http://codingspectator.cs.illinois.edu/unstable-updates/indigo/
- http://codingspectator.cs.illinois.edu/unstable-updates/indigo-sr1/

Please report the problems that you find with these releases to me.

By the way, I would greatly appreci

[2011-12-24 02:56] Wanderer777 commented on #340
@reprogrammer: The basic functionality of CodingTracker, capturing of performed/canceled/unavailable refactorings, and capturing of refactoring problems look OK. The UDC data is captured (i.e. copied into the watched directory) OK, but this happens after the first upload, and thus, this data will get uploaded the next time (I think this is a known issue).

[2011-12-24 06:44] reprogrammer commented on #340
@Wanderer777: It is expected that UDC data gets copied in the watched folder just before the next upload operation. Are you done with your testings? Are you ready for announcing the next release of CodingSpectator?

[2011-12-24 15:19] Wanderer777 commented on #340
@reprogrammer: What do you mean by "copied ... just before the next upload operation"? In my case, UDC data was copied immediately after the current upload operation (thus, being ready for upload by the following upload operation).

I tested the basic functionality and since this release is not expected to affect any functionality, I think I am done with my tests.

[2011-12-24 15:39] reprogrammer commented on #340
That's also expected. For some reason, some of the UDC data is not included in the ongoing submission.

[2011-12-27 18:56] #260 closed, assigned to Wanderer777

[2011-12-27 18:57] #327 closed, assigned to reprogrammer

[2011-12-27 19:01] reprogrammer commented on #328
Issue #338 has resolved this issue.

[2011-12-27 19:01] #328 closed, assigned to reprogrammer

[2011-12-27 19:02] reprogrammer commented on #330
Issue #338 resolved this issue.

[2011-12-27 19:02] #330 closed, assigned to reprogrammer

[2011-12-27 19:02] #339 closed, assigned to reprogrammer

[2011-12-27 19:03] #338 closed, assigned to nobody

[2011-12-27 19:03] #340 closed, assigned to nobody

[2011-12-27 19:07] reprogrammer commented on #295
@Wanderer777

What is the status of this issue? Has this issue been resolved?

[2011-12-27 19:15] reprogrammer commented on #264
This issue doesn't show up in the new homepage of CodingSpectator.

[2011-12-27 19:15] #264 closed, assigned to vazexqi

[2011-12-27 19:20] reprogrammer commented on #319
CodingSpectator copies the refactoring histories captured by Eclipse into the versioned watched folder. If the user has used several versions of CodingSpectator, there's a possibility of capturing same refactoring logs under different version folders. As long as we take this duplication into account while analyzing the captured data, there will be no problem.

[2011-12-27 19:20] #319 closed, assigned to nobody

[2011-12-27 22:29] Wanderer777 commented on #295
@reprogrammer: This is a low priority issue, mostly a memo. The current version of CodingTracker collects sufficient information. Later, if we need to analyze code changes specific to conflict editors (or these code changes break the replay), then we will implement the required postprocessing, resolving this issue.

[2012-02-01 19:21] reprogrammer opened #341 "Find lost workspaces"
Due to issue #337, CodingSpectator might have deleted some of the workspaces from the SVN repository while attempting to upload its data. We need to write a script that finds all workspaces that exist in the SVN history but not in the latest revision of the repository.

[2012-02-04 04:29] #341 closed, assigned to reprogrammer

[2012-02-04 22:48] reprogrammer opened #342 "Find outdated fixed CodingTracker sequences"
Some CodingTracker sequences need to get post-processed to be parsed and replayed correctly. We store the fixed CodingTracker sequences in a Subversion repository different from our main data repository. If a user updates his or her original CodingTracker sequence, the fixed CodingTracker sequence becomes outdated, because it no longer contains the new changes. I suggest that we write a script to

[2012-02-04 22:53] reprogrammer commented on #342
@Wanderer777 The script [find-outdated-fixed-change-sequences.rb](https://github.com/vazexqi/CodingSpectator/blob/master/scripts/svn-repository-analysis/find-outdated-fixed-change-sequences.rb) found only the following outdated fixed CodingTracker sequence:

<pre>
"relative path of fixed CodingTracker sequence","fixed revision","last changed revision"
"cs-512/7e76e17c-a09e-4adf-8035-6841cad0d0e0/1

[2012-02-13 04:32] reprogrammer opened #343 "Match up CodingSpectator and CodingTracker events"
Write a program that enables us to compare the performed refactoring events of CodingSpectator and CodingTracker  by matching the corresponding events collected by the two data collectors.

[2012-02-14 03:25] reprogrammer commented on #343
I confirmed using CodingSpectator 1.0.0.201112231504 for Indigo SR1 that CodingSpectator does not record _redone_ refactorings.

[2012-02-19 19:39] reprogrammer commented on #343
@Wanderer777: I realized that it wasn't a good idea to match refactorings based on their timestamps and project names because the project names may change. Instead, I should compare refactorings based on their timestamps and descriptions (See `org.eclipse.ltk.core.refactoring.RefactoringDescriptor.equals(Object)`). How can I get the "description" attributes of the refactoring descriptors captured

[2012-02-19 20:15] Wanderer777 commented on #343
@reprogrammer: You can use method `edu.illinois.codingtracker.operations.refactorings.NewStartedRefactoringOperation.getArguments()` to get a map of arguments of a particular refactoring, among which you would be able to find the description of the refactoring, if it is stored as part of the refactoring's descriptor.

[2012-02-19 20:42] reprogrammer commented on #343
@Wanderer777: The `edu.illinois.codingtracker.operations.refactorings.NewStartedRefactoringOperation.toString()` method doesn't print out the "description" attribute. For example, the "Operation Sequence View" shows the following information for an Extract Method refactoring:

[code]

The "description" attribute is common to all refactoring descriptors. Therefore, it is a field of class `Refactori

[2012-02-19 21:53] Wanderer777 commented on #343
@reprogrammer: CodingTracker captures `project`, `id`, `flags`, and `arguments`. I thought that `description` might make part of arguments. Since it does not, it is not recorded by CodingTracker (as well as `comment`). Thus, unfortunately, you would not be able to use `description` to match refactorings.

[2012-02-22 21:55] reprogrammer opened #344 "CodingTracker does not record the description and comment attributes of refactorings"
CodingTracker captures all arguments of refactoring descriptors and the `project`, `id`, and `flags` attributes but not the `description` and `comment` attributes. This makes the matching of CodingSpectator and CodingTracker more difficult (See issue #343). CodingTracker should include the `description` and `comment` attributes in its refactoring descriptors.

[2012-02-23 14:24] Wanderer777 commented on #344
@reprogrammer: I am not sure that CodingTracker should capture `description` and `comment` attributes. First of all, it would not help with the existing data. Also, it is not needed for CodingTracker's purposes and only will unnecessary increase the sequence size. Finally, it will require to change the format of the sequences again, which would lead to many additional overheads. So, I think it wou

[2012-06-26 11:55] tremes commented on #142
Hi guys.
I am trying to test auto completion of EL in JSF and I am facing same issue. Any progress or workarounds on this?

[2012-06-26 16:32] reprogrammer commented on #142
@tremes Have you given the solution proposed at http://stackoverflow.com/a/10600358/130224 a try?

[2012-07-09 12:25] tremes commented on #142
Well I am experimenting with this solution and it works good locally, but I have problems using it in Jenkins environment. Following line snippet always produces "Could not find widget" in Jenkins build:

bot.shells("")

I am wondering why...

[2012-07-09 13:06] reprogrammer commented on #142
@tremes I suggest that you follow up at http://stackoverflow.com/a/10600358/130224. We haven't followed up on this issue for a while.

[2014-02-17 21:22] reprogrammer opened #345 "Externalize the strings with URLs and authentication messages"
Externalize the strings that contain the URLs to the subversion repository or the message on the authentication dialog. This would make it possible to change these strings without building CodingSpectator from source.

[2014-02-17 21:45] reprogrammer opened #346 "Create an update site just for data submission"
CodingSpectator provides a reusable infrastructure for submitting users' data to a central repository. Create an update site that enables others to install only this component of CodingSpectator.

[2014-02-17 21:47] reprogrammer commented on #346
It would be nice to provide a single update site that lets the user choose which feature to install: CodingSpectator or its submission infrastructure.

[2014-02-17 21:55] reprogrammer commented on #345
Externalize the branding information so that others can rebrand CodingSpectator easily.

[2014-02-18 01:16] reprogrammer opened #347 "Eclipse cannot read signed jars"
Eclipse fails to install CodingSpectator from its signed JAR files.

[2014-02-18 04:31] vazexqi commented on #345
@reprogrammer : Did you find someone who is interested in reusing the infrastructure?

[2014-02-18 05:02] reprogrammer commented on #345
I'm making the infrastructure more reusable and going to explain it in my thesis. Hopefully, this would make it easier for others to reuse.

[2014-02-18 15:59] reprogrammer opened #348 "Release on 2/18/2013"
Release new update sites.

[2014-02-18 17:14] reprogrammer opened #349 "The UDC feature for indigo and helios is missing"
The UDC feature for indigo sr1 is in the repository but no such feature is in the repository for indigo and helios. The CodingSpectator release instructions explain how to get the UDC feature from the CVS repository. But, the Eclipse CVS repository has migrated to Git. I think it's safer just to keep copy of the UDC feature for helios and indigo in the repository.

[2014-02-18 20:15] reprogrammer commented on #348
- Created an update site with only the data submission infrastructure of CodingSpectator (issue #346).
- Stopped signing the JAR files of the update site (issue #347).
- Added the source code of the UDC feature for Eclipse Helios and Indigo (issue #349).
- Externalized the strings related to the Subversion repository and dialog messages (issue #345).

[2014-02-18 20:56] #345 closed, assigned to reprogrammer

[2014-02-18 20:56] #346 closed, assigned to reprogrammer

[2014-02-18 20:56] #348 closed, assigned to reprogrammer

[2014-02-18 20:56] #349 closed, assigned to reprogrammer

[2014-04-09 20:08] reprogrammer opened #350 "Move URL to a configuration file"
The URL `http://codingspectator.cs.illinois.edu/updates/` is hard-coded in `Updater.java`. Move it to a configuration file so that it can be changed without recompilation.